<!-- Portfolio Grid Section -->
<section class="award" id="award">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3><p style="font-size: 30px; color: rgb(30, 51,71)"> <i class="fas fa-trophy"></i>&nbsp;&nbsp; Award</p></h3><br><br>

      </div>
    </div>
    <div class="row">
      <div align="left" class="col-lg-12">
        <p style="font-size: 18px; color: rgb(30, 51,71)"> ● 2022.06.03 | Hanyang University | 
          <a style="font-size: 18px; color: rgb(14, 56, 194)" href="https://github.com/lpigeon/Pose-Estimation-for-Interactive-Metaverse-Fitness">
            &nbsp;<i class="fas fa-users"></i>&nbsp; team. YOROKE
          </a>
          &nbsp;&nbsp;| <strong>Capstone Design Fair . Gold Medal (금상)</strong> | 학과 1위, 공학대학 전체2위
        </p>


        <p style="font-size: 18px; color: rgb(30, 51,71)"> ● 2022.08.08 | Hanyang University | &nbsp;<i class="fas fa-users"></i>&nbsp; team. YOROKE&nbsp; | 
          <a style="font-size: 18px; color: rgb(14, 56, 194)" href="https://gleaming-bar-4ea.notion.site/5eea5ed024054097adf788b62ef08ef2">
            &nbsp;SHARE Challenge
          </a>
          &nbsp; <strong>. Bronze Medal (동상)</strong>
        </p>

        </div>

      

    </div>
  </div>
</section>
