<!-- About Section -->
<section class="success" id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3> <i class="fas fa-user-graduate"></i>  Profile</h3>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="img/JHkim.png" alt="profile-pic" /> 
      </div>
      <div class="col-lg-4">
        <!-- <p>Information</p> -->
        <h4>- NAME :  김준현 (Joonhyun Kim) </h4>
        <h4>- AGE :  26 (international age: 25) </h4>
        <h4>- NATIONALITY :  KOREA (South) </h4>

        <h4>- Education </h4>
        &nbsp;&nbsp; <strong>* B.S. Robotics Engineering,</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hanyang University(ERICA) , (2017.03~2023.02)<br>
        &nbsp;&nbsp; <strong>* M.S. Candidate, Applied Artificial Intelligence</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hanyang University(Seoul) , (2023.03~Present)<br>

        <h4>- Affiliation </h4>
        &nbsp;&nbsp; <strong>* <a href="https://www.hanyang.ac.kr/" style="color: rgb(61, 255, 255)">Hanyang Univ.</a>. <a href="http://harco.hanyang.ac.kr/" style="color: rgb(61, 255, 255)">HARCO Lab.</strong></a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - B.S. Researcher (Intern) , (2021.06 ~ 2023.02)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>- <a href="http://harco.hanyang.ac.kr/members/Joonhyun-Kim.html" style="color: rgb(61, 255, 255)"> M.S. Researcher</a> , (2023.03 ~ present)</strong><br>

        &nbsp;&nbsp; <strong>* KT Convergence Technology Institute<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>- AI Research Intern, (2023.07 ~ 2023.08)</strong><br>

        <h4>- Research Topic </h4>
        &nbsp;&nbsp; <strong>* Machine Learning, Deep Neural Network </strong><br>
        &nbsp;&nbsp; <strong>* Robotics </strong><br>
        &nbsp;&nbsp; <strong>* Parameter Optimization </strong><br>
        &nbsp;&nbsp; <strong>* Lowerlimb Exoskeleton Robot </strong>
      </div>

    </div>
  </div>
</section>
