<!-- About Section -->
<section class="success" id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4> <i class="fas fa-user-graduate"></i>  Profile</h4>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="img/JHkim.png" alt="profile-pic" /> 
      </div>
      <div class="col-lg-4">
        <!-- <p>Information</p> -->
        <h6>- Name :  <em> Joonhyun Kim</em></h6>
        <h6>- Age : <em> 26 (international age: 25)</em></h6>
        <h6>- Nationality :  <h7> Korea (South)</h7></h6>
        <h6>- Education </h6>
          <em> <2017.03~2023.02> <br>B.S , Dept of Robot Engineering, Hanyang University(ERICA)</em><br>
          <em> <2023.03~Present> <br> M.S candidate Department of Applied Artificial Intelligence, Hanyang University(Seoul)</em><br>
          
          <h6>- Education </h6>
          <em> <2021.06 ~ present> <br> Hanyang. HARCO Lab. Bachelor Course Research Student</em>
      </div>

    </div>
    <div align="right" class="col-lg-12">
      <h4>Main Research Theme : </h4>Machine Learning , Robotics
    </div>
  </div>
</section>
