<!-- About Section -->
<section class="headline" id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3> <i class="fas fa-user-graduate"></i>  Profile</h3>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="img/jhkim.png" alt="profile-pic" style="width: 90%; height: auto;"/>
      </div>
      <div class="col-lg-4">
        <h4>- NAME :  김준현 (Joonhyun Kim) </h4>
        <h4>- AGE :  26 (international age: 25) </h4>
        <h4>- NATIONALITY :  KOREA (South) </h4>

        <h4>- Education </h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* B.S. Robotics Engineering,</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hanyang University(ERICA) , (2017.03~2023.02)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* M.S. Candidate, Applied Artificial Intelligence</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hanyang University(Seoul) , (2023.03~Present)<br>

        <h4>- Affiliation </h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* <a href="https://www.hanyang.ac.kr/" style="color: rgb(74, 9, 196)">Hanyang Univ.</a>. <a href="http://harco.hanyang.ac.kr/" style="color: rgb(74, 9, 196)">HARCO Lab.</strong></a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>- B.S. Researcher (Intern) , (2021.06 ~ 2023.02)<br></strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>- <a href="http://harco.hanyang.ac.kr/members/Joonhyun-Kim.html" style="color: rgb(74, 9, 196)"> M.S. Researcher</a> , (2023.03 ~ present)</strong><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* <a href="https://maps.app.goo.gl/7BTwxnbc4w7NzJRLA" style="color: rgb(74, 9, 196)">KT 융합기술원</a> Convergence Technology Institute<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>- M.S. AI Project Intern, (2023.07 ~ 2023.08)</strong><br>

        <h4>- Research Topic </h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* Deep Learning / Machine Learning </strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* Reinforcement Learning</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>* Robotics </strong><br>
      </div>

    </div>
  </div>
</section>
