<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div align="left" class="modal-body">
            <p align="center" style="font-size: 30px;"><strong>{{ post.title }}</strong></p>
            <br><br><br>
            {% if post.headimg %}
              {% if post.headimg_size %}
                <img src="img/posting/head_img/{{ post.headimg }}" class="img-responsive img-centered" style="width: {{ post.headimg_size }}%; height: {{ post.headimg_size }}%;">
              {% else %}
                <img src="img/posting/head_img/{{ post.headimg }}" class="img-responsive img-centered">
              {% endif %}
            {% endif %}
            <html>
            {{ post.content }}
            </html>
            
            <ul align="right" class="list-inline item-details">
              {% if post.project-date %}
              <p> <i class="fas fa-clock" aria-hidden="true"></i> Project Duration :
                <strong>{{ post.project-date }}</strong>
              </p>
              
              {% endif %}

            </ul>
            
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
