<!-- Portfolio Grid Section -->
<section class="publication" id="publication">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3><p style="font-size: 30px; color: rgb(30, 51,71)"> <i class="fas fa-inbox"></i> &nbsp;&nbsp; Publication</p></h3><br><br>

      </div>
    </div>
    <div class="row">
      <div align="left" class="col-lg-12">
        <p style="font-size: 18px; color: rgb(30, 51,71)"> ● Pose for Metaverse awarded  and presented at 
          <a style="font-size: 18px; color: rgb(30, 51,71)" href="http://sigongji22a.icros.org/admin/proceedings/TableOfContents_web.asp">
            &nbsp;<i class="fas fa-edit"></i>ICROS'22
          </a>
          <br>&nbsp;&nbsp;| 2022-06-03 | Co-Author | ICROS 거제 소노캄 |
        </p>


        <p style="font-size: 18px; color: rgb(30, 51,71)"> ● Development of the IMU Sensor Based GATE Phase Detection Algorithm that is Robust to Changes in Terrain and Walking Speed<br>
          &nbsp;&nbsp;| 2022.10.19 | First Author |
          <a style="font-size: 18px; color: rgb(30, 51,71)" href="http://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11168452">
            &nbsp;&nbsp;<i class="fas fa-edit"></i>AF2022-0560 
          </a>
          &nbsp;| KSPE 한국정밀공학회 추계 학술대회 |
        </p>


        </div>

      

    </div>
  </div>
</section>
