<!-- Portfolio Grid Section -->
<section class="research" id="research_topic">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3><p style="font-size: 30px; color: rgb(30, 51,71)"> <i class="fas fa-robot"></i>&nbsp;&nbsp; Research Theme</p></h3><br><br>
      </div>
    </div>
    <div class="row">
      <div align="center" class="col-lg-12">
        <p style="font-size: 18px; color: rgb(30, 51,71)">My main research is about <strong>Robot Control Method</strong> and <strong>Artificial Intelligence.</strong><br>
          if the Robot is placed in a working environment that moves with humans,<br> they must perform the most optimized controls in various environments.<br><br></p>
      </div>
      <div align="center" class="col-lg-12">
        <p style="font-size: 18px; color: rgb(30, 51,71)">I'm interested in properly judging complex information in these diverse environments,<br>
          choosing the best out of a myriad of controllable ways,<br> and trying to implement it through artificial intelligence and control technologies.
        </p>
      </div>
    </div>
  </div>
</section>
